/* Popup box */
.popupMain{
  position: fixed;
  border: 2px solid #000;
  border-radius: 9px;
  height: 280px;
  width: 470px;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 50%;
  right: 10%;
  /*padding: 10px;*/
}


/* button to close popup */
button:focus {
  outline: 0;
}
.closePopup{
  position: absolute;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  border-color: #eee;
}
.closePopup:hover{
  cursor: pointer;
  background-color: #eee;
}


/* Ribbon in the corner */

.ribbon {
  position: absolute;
  left: -7px; 
  top: -7px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  /*background: linear-gradient(#F79E05 0%, #8F5408 100%);*/
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}