body{
  background-color: grey;
}


/* POPUP - MAIN BOX */
.popupMain{
  position: fixed;
  border-radius: 9px;
  height: 280px;
  width: 470px;
  background-color: #fff;
  bottom: 50%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  /*margin: auto;*/
  /*padding: 10px;*/
}



/* POPUP - CLOSE BUTTON */
button:focus {
  outline: 0;
}
.closePopup{
  position: absolute;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  right: -10px;
  top: -10px;
  border-radius: 50%;
  border-color: #eee;
}
.closePopup:hover{
  cursor: pointer;
  background-color: #eee;
}



/* POPUP - CORNER RIBBON */
.popupRibbon{
  /*display: inline-block;*/
  width: 70px;
  height: 70px;
}
.ribbon {
  position: absolute;
  left: -5px; 
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  /*background: linear-gradient(#F79E05 0%, #8F5408 100%);*/
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}



/* POPUP - MAIN TEXT FIELD */
.popupMainText{
  /*border: 1px solid black;*/
  position: absolute;
  width: 80%;
  left: 10%;
  text-align: center;
  /*background-color: brown;*/
}


.buttonDiv{
  position: absolute;
  /*text-align: center;*/
  height: 31px;
  width: 100%;
  bottom: 20px;
}

.buttonlink{
  /*position: absolute;*/
  display:inline-block;
  border-style:solid;
  border-color:#bbb #888 #666 #aaa;
  border-width:3px 4px 4px 3px;
  width:9em;
  height:31px;
  background:#ccc;
  color:#333;
  line-height:2;
  text-align:center;
  text-decoration:none;
  font-weight:900;
}
.buttonlink:active{
  border-color: #666 #aaa #bbb #888;
  border-width:4px 3px 3px 4px;
  color:#000;
}




/*.popupButton{
  position: absolute;
  background-color: green;
  bottom: 25px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}*/


/*.mycenter {
    position: relative;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) } 

*/















